body {
  margin: 0;
  font-family: sans-serif;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.button {
  width: 78px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  line-height: 40px;
  font-weight: 500;
}

.button:hover {
  background-color: lightgray;
}

.header-container {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sign-basket {
  max-height: 40px;
  display: flex;
  align-items: center;
}

.basket {
  margin-top: 15px;
  margin-left: 27px;
}

.banner-container {
  padding-top: 72px;
}

.banner {
  width: 100%;
  height: 364px;
  background: url("photo.png");
  background-size: cover;
}

.info {
  position: relative;
  top: 80px;
  background-color: #ffffff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  padding: 38px 0px 38px 0px;
}

.info h1 {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  color: #1d1d1d;
  margin-top: 0px;
  margin-bottom: 54px;
}

.info p {
  font-size: 14px;
  color: #626262;
}

.bot {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time {
  width: 100px;
  height: 24px;
  text-align: center;
  padding-top: 8px;
  background: #262626;
  border-radius: 16px;
  font-size: 13px;
  color: #ffffff;
}

.snacks h2 {
  color: #1d1d1d;
  font-size: 22px;
  font-weight: normal;
}

.snacks hr {
  width: 50px;
  background: #757575;
  margin-bottom: 43px;
}

.snack {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-left: 1rem;
  margin-bottom: 40px;
  height: 160px;
  background: #ffffff;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
}

.snack h3 {
  font-weight: normal;
  font-size: 16px;
  color: #1d1d1d;
}

.inside {
  font-size: 13px;
  color: #626262;
}

.price {
  font-size: 15px;
  margin-top: 58px;
  color: #1d1d1d;
}

.snacks > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price2 {
  font-size: 15px;
  margin-top: 85px;
  color: #1d1d1d;
}

@media screen and (min-width: 992px) {
  .banner {
    background: url("photo.png");
    background-size: cover;
  }
  .snacks h2 {
    margin-top: 56px;
  }
}

@media screen and (max-width: 992px) {
  .banner {
    background: url("photo2.png");
    background-position: center;
    background-size: cover;
  }
  .snacks h2 {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    background: url("photo3.png");
    background-position: center;
    background-size: cover;
    height: 255px;
  }

  .info {
    padding: 24px 0px 24px 0px;
    text-align: center;
    position: relative;
    top: 131px;
  }

  .info h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .info p {
    font-size: 14px;
    color: #626262;
  }

  .bot {
    display: block;
  }

  .time {
    margin: auto;
    padding-top: 8px;
    margin-top: 16px;
    font-size: 12px;
  }

  .snacks h2 {
    margin-top: 112px;
    text-align: center;
  }

  .snack {
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    margin-bottom: 16px;
    height: 102px;
  }

  .snack h3 {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .inside {
    margin: 0;
    font-size: 13px;
  }

  .price {
    font-size: 15px;
    margin-top: 10px;
  }

  .price2 {
    font-size: 15px;
    margin-top: 45px;
  }
}

nav {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(117, 117, 117, 0.2);
}

nav .container {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #626262;
  font-size: 16px;
}

.now {
  color: #327430;
}



footer {
  background: #262626;
  width: 100%;
  padding-top: 56px;
}
hr {
  margin-bottom: 32px;
}

.languagse {
  height: 40px;
  display: flex;
  margin-bottom: 33px;
  border-radius: 2px;
  background-color: #3b3b3b;
}

select {
  width: 100%;
  height: 40px;
  padding: 0 20px 0 20px;
  font-size: 13px;

  border: none;
  background-color: #3b3b3b;
  color: white;
}
.languagse img {
  padding: 12px 0px 12px 16px;
}
.socialmedia img {
  margin-right: 10px;
}

.socialmedia {
  margin-bottom: 42px;
}

footer section {
  display: flex;
  flex-flow: row wrap;
}

footer section p {
  margin-top: 0px;
  margin-bottom: 20px;
  color: white;
  line-height: 15px;
}

.download {
  text-align: center;
}

.download img {
  margin-right: 20px;
}

.cc a {
  font-size: 11px;
  line-height: 13px;
  color: white;
}

.cc {
  padding-top: 8px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.up {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 24px;
  right: 16px;
  text-align: center;
  background: #59bd5a;
  border-radius: 2px;
}

.up img {
  margin-top: 27px;
}

.cc a {
  margin-bottom: 20px;
}
